/* ------------------------------------Partie Footer page PHP-----------------------
----------------------------------------------------------------------------------- */
footer{
	display: flex;
	width: 80%;
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	height: 250px;
	background-color: #333;
	align-items: center;
}
#Carte{
	display: flex;
	width: 60%;
	margin-left: 20px;
}
#Lien{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	height: 200px;
	padding-left: 10%;
	margin-left: 10px;
	border-left: 3px #BDBDBD solid;
}
#reseaux{
	width: 40%;
	display: flex;
}
a2{
	font-size: 20px;
	font-family: Calibri;
	color: white;
}