body{
	background-color: #BDBDBD;
}
#pagecentrale{
	display: flex;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 5%;
	padding-bottom: 10%;
	background-color: #333;
}
#pageaccueil{
	display: flex;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #333;
	flex-wrap: wrap;
}
h5{
	font-family: Brush Script MT;
	font-size: 40px;
	color: white;
	padding-left: 140px;
}