/* ------------------------------------Partie Objets page PHP-----------------------
----------------------------------------------------------------------------------- */
#Liste_objets{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: Verdana;
	width:100%;
	height: 70%;
	padding: 10%;
}
#Objet{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	width: 50%;
}
h3{
	border:3px black solid;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 30px;
	color: white;
	background-color: black;
	font-family: Calibri;
}
.disconnect{
	align-self: center
}
#Volet{
	display : flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#Television{
	display : flex;
	justify-content: center;
    align-items: center;
}
.bouton_chaine{
	height: 20px;
	width: 200px;
}
#Cadre-type_objet{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	height: 140px;
	width: 160px;
	margin-left: 120px;
	padding-left: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 20px;
	border: 3px grey inset;
}
#Cadre-etat_objet{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	height: 120px;
	width: 180px;
	margin-left: 120px;
	padding-left: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 20px;
	border: 3px grey inset;
}
#Obj{
	display: flex;
	flex-direction: column;
	font-family: Verdana;
	width:100%;
	height: 70%;
	padding: 10%;
}
#Lumiere{
	display: flex;
	margin-bottom: 60px;
	padding-top: 25px;
}
.lumiere{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.illustration-lumiere{
	display: flex;
	margin-left: 15px;
	width: 40%;
	background-image: url(http://www.hellopro.fr/images/produit-2/0/3/0/volet-aluminium-taos-volet-coulissant-taos-5821030.jpg);
	background-size: 100% 100%;
	margin-right: 15px;
}
.lieux-objet{
	border: 3px black solid;
	background-color: black;
	color: white;
	font-size: 40px;
	font-family: Brush Script MT;
	text-align: center;
	border-radius: 20px;
}